*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --facebook: #3b5999;
    --instagram: #e4405f;
}
.redes-container{
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}
.redes-container ul li{
    display: inline-block;
    margin: 0px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}