*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --facebook: #3b5999;
    --instagram: #e4405f;
    --linkedin: #0077B5;
    --google: #bd081c;
}
.redes-container{ 
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}
.redes-container ul li{
    display: inline-block;
    margin: 5px 5px;
    width: 50px;
    height: 50px;
    text-align: center;
}
.redes-container ul li a{
    display: block;
    padding: 0 10px;
    background-color: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}
.redes-container ul:hover a{
    filter: blur(2px);
}
.redes-container ul li a:hover{
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}
.redes-container ul li .facebook:hover{
    background: var(--facebook);
}
.redes-container ul li .instagram:hover{
    background: var(--instagram);
}
.redes-container ul li .linkedin:hover{
    background: var(--linkedin);
}
.redes-container ul li .google:hover{
    background: var(--google);
}
#ribbon{
    background-color: rgb(5, 5, 5);
    background-image: repeating-linear-gradient(35deg, transparent 20px, rgba(32, 32, 32, 0.5) 25px, rgba(255, 255, 255, 0.5) 40px);
}
#ribbon::after{
    content: "";
    background-color: transparent;
    display: block;
    height: 20px;
    width: 80px;
    margin: 0 auto;
    position: relative;
    left: auto;
    margin-top: -30px;
}
#birthday{
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    margin-top: -10px;
    z-index: 10;
    box-shadow: 0 0 5px rgb(5, 5, 5);
    text-align: center;
}
#separator-ribbon{
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 2;
}
#separator-ribbon .content{
    width: 150%;
    height: 100px;
    margin-left: -25%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background-color: rgba(102, 98, 98, 0.856);
}